{

  "insecure-registries": [
    "{{ docker_local_registry }}:80",
    "{{ docker_local_registry }}:443"
  ],

  "disable-legacy-registry": true,
  "registry-mirrors": ["https://{{ docker_local_registry }}:8083"]{% if docker_userns_remap == true %},
  "userns-remap": "{{ docker_remap_user }}"
  {% endif %}

}